In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("cleaned_df.csv")

In [3]:
df.head()

,State,City,Street,Zipcode,Bedroom,Bathroom,Area,PPSq,LotArea,MarketEstimate,RentEstimate,Latitude,Longitude,ListedPrice
0,AL,Saraland,Scott Dr,36571,4.0,2.0,1614,148.636927,0.3805,240600.0,1599.0,30.819534,-88.095960,239900
1,AL,Robertsdale,Cowpen Creek Rd,36567,3.0,2.0,1800,144.388889,3.2000,NaN,NaN,30.590004,-87.580376,259900
2,AL,Gulf Shores,Spinnaker Dr #201,36542,2.0,2.0,1250,274.000000,NaN,NaN,NaN,30.284956,-87.747920,342500
3,AL,Chelsea,Mallet Way,35043,3.0,3.0,2224,150.629496,0.2600,336200.0,1932.0,33.357986,-86.608700,335000
4,AL,Huntsville,Turtlebrook Ct,35811,3.0,2.0,1225,204.081633,NaN,222700.0,1679.0,34.775517,-86.440700,250000

In [4]:
df.isnull().sum()

State                0
City                 0
Street               0
Zipcode              0
Bedroom             14
Bathroom            34
Area                 0
PPSq                 0
LotArea            902
MarketEstimate    7236
RentEstimate      5976
Latitude             0
Longitude            0
ListedPrice          0
dtype: int64

The project have most of the requirements about price, area but not depend too much on bedroom or bathroom

In [ ]:
df['New Jersey ']